:root {
	--prim-color: rgb(30, 0, 99);
	--sec-color: rgb(209, 2, 181);
	--font-color: rgb(225, 225, 225);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

body {
	font-family: 'Roboto', sans-serif;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	background-color: var(--prim-color);
	color: var(--font-color);
	font-size: 20px;
	padding: 0px 40px;
	block-size: 70px;
}

.main-nav .nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.main-nav .nav-items .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: 100%;
	color: var(--font-color);
}

.main-nav .nav-items .nav-item:hover {
	color: var(--sec-color);
}

.main-nav .logo-block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-nav .logo-block .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'Comic Sans MS', cursive;
	font-weight: bold;
	color: var(--sec-color);
}

.main-footer {
	display: flex;
	background-color: var(--prim-color);
	position: fixed;
	inset-block-end: 0;
	inline-size: 100%;
	padding: 20px;
	color: var(--sec-color);
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.top-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--sec-color);
	padding: 5px 20px;
}

.top-nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	inline-size: 100%;
	gap: 20px;
}

.top-nav ul li i {
	color: var(--prim-color);
	font-size: 20px;
	margin: 0 5px;
}
